@model IEnumerable<StoreFront.DATA.EF.Models.Color>

@{
    ViewData["Title"] = "Color Options";
}

<h1>@ViewData["Title"]</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<!-- slider section -->
<section class=" slider_section position-relative">
    <div class="slider_number-container ">
        <div class="number-box">
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ColorName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ColorName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PaintedId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PaintedId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PaintedId">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>

</section>
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ColorName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ColorName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PaintedId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PaintedId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PaintedId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
