@model StoreFront.DATA.EF.Models.Product

@{
    ViewData["Title"] = "Details";
}
<section class="product_section layout_padding">
    <h1 class="font-weight-bold mb-0">&emsp;Details</h1>

    <div class="p-5">
        <h4>The information about this product is provided below:</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ProductName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ProductName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ProductPrice)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ProductPrice)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ProductDescription)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ProductDescription)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ProductCertified)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ProductCertified)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ProductQuality)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ProductQuality)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ProductImage)
            </dt>
            <dd class="col-sm-10">
                @*@Html.DisplayFor(model => model.ProductImage)*@
                <img src="~/images/@Model.ProductImage" alt="@Model.ProductDescription" class="img-fluid" />
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Category)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Category.CategoryName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Status.StatusName)
            </dd>
        </dl>
    </div>
</section>
<div class="text-center mb-5 mt-5">
    @if (User.IsInRole("Admin"))
    {
        <span>
            <a asp-action="Edit" asp-route-id="@Model?.ProductId">Edit</a> |
        </span>
    }
    <a asp-action="Index">Back to List</a>
</div>
